.layout{
    max-width: 1746px;
    padding: 43px 20px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    grid-template-columns: minmax(200px, 237px) auto minmax(200px, 237px);
    color: white;
    font-family: Century Gothic;

}